<! DOCTYPE html> 
<html> 
<head lang = "en"> 
    <meta charset = "UTF-8"> 
    <title> Mon premier tableau de bord </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='abtstyle.css') }}">
    <script src="https://use.fontawesome.com/77a52f4d72.js"></script>
  </head> 
<body> 

<div>
  <div class="wrapper">
    <div class="search_box">
      <input type="text" placeholder="What are you looking for ?">
      <i class="fas fa-search"></i>
    </div>
  </div>
</div>
