<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="sylesheet" type="text/css" href="css/boxstyle.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
  <div class="search-box">
    <input class ="input_box" type="text" name="" placeholder="Type to search">
    <a class="btn" href="#">
        <i class="far fa-search"></i>    
    </a>
  </div>
</body>
</html>